.appelsin-scroll{
    position: relative;
    overflow: hidden;
}
.appelsin-scroll-way{
    height: 8px;
    width: 8px;
    position: absolute;
    right: 0;
    background: #555;
    opacity: 0;
    border-radius: 5px;
    margin: 5px;
    display: block;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}
.appelsin-scroll-way-horizen{
    bottom: 0;
}
.appelsin-scroll-bar{
    background: rgba(0,0,0,.6);
    position: relative;
    border-radius: 3px;
}
.appelsin-scroll-bar-vertical{
    height: 30px;
    width: 6px;
    margin: 0 1px;
}
.appelsin-scroll-bar-horizen{
    height: 6px;
    width: 30px;
    margin: 1px 0;
}
.appelsin-scroll-content{
    position: absolute;
    padding: 0 20px;
}
